<div class="w3-container w3-dark-grey">
    <h1>COVID-19</h1>
</div>
<hr />

<table class="table--width">
    <tr>
        <td class="table--border">
            <app-covid-cases></app-covid-cases>
        </td>
        <td></td>
        <td class="table--border">
            <app-covid-deaths></app-covid-deaths>
        </td>
        <td></td>
        <td class="table--border">
            <app-covid-recovered></app-covid-recovered>
        </td>
    </tr>
</table>

<app-country></app-country>
