.card__title{
  padding: 30px;
  text-align: center;
  width: 100%;
}

.card__title--red{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #bd1b16;
  color: white;
}
